*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(img/bg-home.jpg) no-repeat scroll center top #000;
}

#body {
    background-color: black;
}

header {
    height: 60px;
    width: auto;
    background: url(img/bg-transparent1.png) repeat;

}

#header {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 0;
}


#header .nav li {
    height: 60px;
    display: flex;
    align-items: center;

}

#header .nav a {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#header .nav .active {
    background: #000 !important;
    color: #a3a3a3 !important;
}

#header .nav .menu {
    position: relative;
}

#header .subnav {
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 11px;
    padding: 0;

}

#header .subnav {
    display: none;
    background-color: #620031;
}

#header .subnav2 {
    right: -38px;
    width: 10rem;
}

#header .nav li:hover {
    background-color: #620031;
}

#header .menu:hover .subnav {
    display: block;
}

/* --- */

.header>div {
    display: flex;
    justify-content: center;
}

p {
    color: white;
}

h1 {
    color: white;
    text-transform: uppercase;
}

a {
    display: inline;
    margin: 5px;
    color: white;
}

#De {
    text-align: center;
    margin-bottom: 50px;
}

.sidebar {
    background-color: black;
}

h2 {
    color: white;
}

.content {
    border-bottom: 1px solid white;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

.content:last-child {

    margin: unset;
    border: unset;
}

.Nut {
    padding: 10px 20px;
    background-color: rgb(67, 15, 67);
    position: absolute;
    bottom: -2px;
    right: 10px;
    text-decoration: none;
}

.Nut:hover {
    background-color: #620031;
    cursor: pointer;
}

img:hover {
    opacity: 0.6;
    display: inline-block;
}

link:hover {
    opacity: 0.6;
    color: white;
}

.sidebar {
    margin-left: 30px;
}
