* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/bg-home.jpg) no-repeat scroll center top #000;
}

header {
    height: 60px;
    width: auto;
    background: url(img/bg-transparent1.png) repeat;
}

#header {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 0;
}


#header .nav li {
    height: 60px;
    display: flex;
    align-items: center;

}

#header .nav a {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#header .nav .active {
    background: #000 !important;
    color: #a3a3a3 !important;
}

#header .nav .menu {
    position: relative;
}

#header .subnav {
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 11px;
    padding: 0;

}

#header .subnav {
    display: none;
    background-color: #620031;
}

#header .subnav2 {
    right: -38px;
    width: 10rem;
}

#header .nav li:hover {
    background-color: #620031;
}

#header .menu:hover .subnav {
    display: block;
}

#container {
    background-color: #000;
    padding-top: 50px;
}

#container>div {
    width: 960px;
    margin: 0 auto;
    height: auto;
}

#container>div h1 {
    color: white;
    text-align: center;
    margin-bottom: 80px;
}



#container>div p {
    font-family: verdana;
    font-size: 13px;
    color: white;



}

h3 {
    color: white;
    margin-bottom: 10px;
}

#content {
    width: 940px;
}

#top {
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

#bottom {
    margin-top: 30px;
    display: flex;
}

.content,
.content2 {
    margin-left: 20px;
    position: relative;
}

a {
    color: white;
}

a:hover {
    color: #a3a3a3;
}

.more {
    position: absolute;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3c0f38;
    top: 100px;
    right: 20px;
}

.more:hover {
    color: white !important;
    background-color: #620031;
}

#follow {
    width: auto;
    background-color: #a3a3a3;
    height: 84px;
}

#follow>div {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#follow h1 {
    color: #fff;
}

#follow ul {
    list-style: none;
    display: flex;
    margin-left: 30px;
}

#follow img {
    display: block;
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
}

#follow a:hover {
    opacity: 0.3;
}

#contact {
    height: 100px;
    background-color: #fff;
}

#contact p {
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
    line-height: 90px;
    font-size: 0.8rem;
}